{% extends 'base.html' %}
{% block content %}
<h1>Harvesteri PRD/CSV import</h1>
<p>Esimene prototüüp loeb CSV/tekstifaili. Vajalikud veerud: <code>lank</code>, <code>sortiment</code>, <code>kogus</code>. Lisaveerud võivad olla <code>kuupaev</code>, <code>vahetus</code>, <code>masin</code>, <code>operaator</code>.</p>
<form method="post" enctype="multipart/form-data" class="panel">
  <input type="file" name="prd_file" required>
  <button type="submit">Impordi</button>
</form>
<pre>lank;sortiment;kogus;kuupaev;vahetus;masin;operaator
L-124;Palk;100;2026-07-05;päev;Harvester 1;Ants</pre>
{% endblock %}
